%h1 Attendance Leaderboard
- if @students.empty?
  %p There are currently no students in the system

- else
  %table#leader_board
    %thead
      %tr
        %th Name
        %th Attendance
    %tbody
      - @students.each do |student|
        %tr
          %td= student.name
          %td= attendance_summary_for(student)
  = link_to "Enter Today's Attendance", new_school_day_path
